---

---

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">CPB Discovery</a>
    <div class="form-inline">
      <input onkeyup='search(event)' id='inputSearchbar' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
</nav>

